#Nav{
    background-image:linear-gradient(to right,rgb(14, 14, 155) 25%, rgb(34, 34, 181) 90%, rgb(45, 45, 183)80%,rgb(8, 8, 134)0.1%);
}
.Icon{
    margin-top:5px;
}
.Placement{
    color:white;
    font-size:20px;
}